{% extends "layout.njk" %}

{% block content %}

    <div class="Card">
        <section>
            <img class="imgTeachercard" src="{{student.avatar_url}}">
        </section>
        <section class="details">

            <form method="POST" action="/student?_method=PUT">
                <h1>Edit</h1>

                {% include "./fields.njk" %}
                <input 
            type="hidden" 
            name="id"
            value="{{student.id}}"/>
            </form>

            </div>

        </section>
    </div>

{% endblock %}