{% extends "layout.njk" %}

{% block content %}

    <div class="Card">
        <section class="details">
            <h1>Detalhes</h1>
            <div>
                <div>Endereço:</div>
                <div>
                {{endereco.endereco}}
            </div>

            <div class="buttons"></div>

        </section>
    </div>

{% endblock %}