<!DOCTYPE html>

<link href=/styles.css rel="stylesheet">

<html>

    <head>
        <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon"/>
        <title>
            Favicon
        </title>
    </head>

    <header>

        <a href="/usuarios">Usuários</a>
        <a href="/enderecos">Enderecos</a>

    </header>

    {% block content %}{% endblock %}

    <script src="/script.js"></script>
</html>